<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.captaincat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_cover"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Ui.Activity.GetPetActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.BackUpActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.PetActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DuplicateActivity" /> <!-- android:theme="@style/Theme.CaptainCat" -->
        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Ui.Activity.MyinfoActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.BookActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.PracticeActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.StoreActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.Activity.BagActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.ChoosingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Ui.Activity.AirWarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"  />
    </application>

</manifest>